@using JobApplication.Services;
@using JobApplication.ViewModels;

@{
    ViewData["Title"] = "Home Page";
    AllJobsViewModel jobs = ViewData["AllJobs"] as AllJobsViewModel;
}

<div class="list-group">
    <ul class="list-unstyled">
        @foreach (var job in jobs.Jobs)
        {
        <li class="list-inline-item">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-primary">@job.Name</h2>
                    <h3 class="text-muted">Salary: @job.Salary lv</h3>
                    <h4>Job category: @job.Category</h4>
                    <h4>Work place: @job.WorkPlace</h4>
                    <a class="btn btn-primary btn-rounded" asp-area="" asp-controller="Jobs" asp-action="ViewJob" asp-route-id="@job.Id">View job details</a>
                </div>
            </div>
            <hr/>
        </li>
        }
    </ul>
</div>

